<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mx.bajun.mobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baju_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baju_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".reports.ReportsActivity"></activity>
        <activity android:name=".ventas.SalesActivity" />
        <activity android:name=".ordenes.OrdersActivity" />
        <activity android:name=".emarketing.EMarketingActivity" />
        <activity android:name=".consultas.QueriesActivity" />
        <activity android:name=".promociones.PromotionsActivity" />
        <activity android:name=".productos.ProductsActivity" />
        <activity android:name=".clientes.ClientsActivity" />
        <activity android:name=".proveedores.VendorsActivity" />
        <activity android:name=".menu.redesSociales.SocialMediaActivity" />
        <activity android:name=".menu.configuracion.SettingsActivity" />
        <activity android:name=".menu.diccionario.DictionaryActivity" />
        <activity
            android:name=".login.PasswordResetPopUpActivity"
            android:theme="@style/popUpTheme" />
        <activity
            android:name=".login.LoginHomeScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.FirebaseAuthLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homescreen.HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>